* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Poppins;
  margin: auto;
  background-color: #181824;
  color: white;
}
p {
  margin: 0px;
}

header {
  padding-top: 10px;
  padding-bottom: 12px;
  background-color: #40e0b8;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: auto;
}
h2 {
  color: #7562e0;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1em;
}
.max-w-1280 {
  max-width: 1000px;
}
.purpule {
  color: #7562e0;
}

.boutons {
  display: flex;
  gap: 30px;
  padding-top: 20px;
}
.btn {
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  border-radius: 7px;
  transition: all 0.4s;
  color: white;
}
/*.btn:visited {
  color: #40e0b8;
}*/
/*.btn:hover {
  background-color: rgb(211, 129, 23);
}*/

.btn1 {
  background-color: #7562e0;
}

.btn1:hover {
  background-color: rgb(211, 129, 23);
}

.btn2 {
  border: 2px solid #7562e0;
}
.btn2:hover {
  color: aqua;
}
#Home {
  margin: auto;
  margin-bottom: 0;
  display: flex;
  padding-top: 150px;
  padding-bottom: 30px;
  align-items: center;
  position: relative;
}
#Home > div {
  flex-basis: 50%;
}
.img-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.img {
  margin-right: 0;
  border-radius: 50%;
}
.texte {
  font-size: 1.1em;
}
.separation {
  min-height: 50px;
  background-color: #83510f;
  margin-top: 0;
  margin-bottom: 30px;
}
#About {
  margin: auto;
}
.abtme {
  color: #7562e0;
  font-size: 1.2em;
}
.description {
  font-size: 17px;
}
.txt {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nb {
  color: #7562e0;
  font-size: 70px;
  font-weight: 800;
}
.tx {
  font-size: 1.3em;
}
.cartes {
  display: flex;
  margin: auto;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.c1 {
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  flex-grow: 1;
  background-color: #bdbdbd;
  justify-content: flex-end;
  padding: 25px;
  font-weight: 700;
  gap: 10px;
}
.c1:first-child {
  background-color: #7562e0;
}

.service {
  display: flex;
  margin: auto;
  gap: 20px;
  margin-top: 60px;
  margin-bottom: 90px;
  flex-wrap: wrap;
}
.c {
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: 700;
  gap: 10px;
  border: 3px solid white;
  text-align: center;
  border-radius: 5%;
}
.c:nth-child(even) {
  border-color: #7562e0;
  color: white;
}

.c:nth-child(even) h2 {
  color: white;
}

#Projects {
  margin: auto;
  margin-top: 30px;
}

.Project {
  color: #7562e0;
  font-size: 1.2em;
}

.featured {
  display: flex;
  margin: auto;
  gap: 15px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.f {
  height: 465px;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  flex-grow: 1;
  background-color: #31313f;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
  font-weight: 600;
  gap: 20px;
}

.space {
  flex-grow: 1;
}

.f img {
  height: 35%;
  width: 100%;
}

.f h2 {
  text-align: left;
}

.fbtn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  width: 100%;
}
.fbtn a {
  flex-basis: 50%;
  text-align: center;
}
.f img {
  border-radius: 7px;
  opacity: 0.5;
}
#Contact {
  margin: auto;
  margin-top: 50px;
}
.contact {
  display: flex;

  gap: 60px;
  margin-top: 50px;
  margin-bottom: 80px;

  justify-content: space-between;
  align-items: center;
}
.connect {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

.connect i {
  display: inline;
  justify-content: space-between;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 50px;
  gap: 10px;
}

.form input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  background-color: #31313f;
  border-radius: 5px;
  color: white;
  border: #31313f;
}
#sending {
  width: 35%;
  padding: 8px;
}
.form textarea {
  resize: none;
}

.icone {
  display: flex;
  gap: 25px;
  /* padding-top: 25px; */
  color: #7562e0;
}
.icone a {
  color: #7562e0;
}

footer.max-w-1280 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0px 80px 0px;
  margin: auto;
}
footer p {
  font-size: 15px;
  color: #78787f;
}

@media screen and (max-width: 800px) {
  #Home {
    flex-direction: column-reverse;
  }
  .div1 h1 {
    text-align: center;
  }
  .img-container {
    margin-bottom: 20px;
  }
  .div1 h5 {
    text-align: center;
    margin-top: 30px;
  }
  .div1 p {
    padding-left: 40px;
    padding-right: 20px;
  }
  .boutons {
    justify-content: center;
  }
  .max-w-1280 {
    padding: 0px 15px 0px 15px;
  }
  .cartes {
    flex-wrap: wrap;
    gap: 8px;
  }
  .c1 {
    flex-grow: 0;
    flex-basis: 45%;
    padding: 5px;
  }
  .service {
    gap: 8px;
  }
  .c {
    flex-grow: 0;
    flex-basis: 45%;
    padding: 5px;
  }
  .featured {
    flex-wrap: wrap;
    gap: 10px;
  }
  .f {
    flex-grow: 0;
    flex-basis: 45%;
    padding: 8px;
  }
  .fbtn {
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
  .fbtn a {
    width: 100%;
  }
  .connect {
    padding: 15px;
  }
  .contact {
    gap: 20px;
    padding-right: 10px 0px 10px 0px;
    margin-bottom: 10px;
  }
  .form input[type="text"],
  input[type="email"],
  textarea {
    width: 85%;
    padding: 3px;
    background-color: #31313f;
    border-radius: 5px;
    color: white;
    border: #31313f;
  }
  footer.max-w-1280 {
    flex-direction: column;
    gap: 15px;
  }
  nav {
    display: none;
  }
}
